@import "/src/styles/reset.scss";
@import "/src/styles/commonS.scss";

.main,
.detail {
    background-color: #f3f3f3;
    @include flexCenter;
    width: 100%;
    height: 100vh;
    .main-inner {
        position: relative;
        width: 574px;
        background-color: #fff;
        height: 90%;
        border-radius: 16px;
        border: 1px solid #e5e5e5;
        padding-bottom: 80px;
        overflow-y: scroll;
    }
    .thread-form {
        cursor: pointer;
        width: 100%;
        padding: 40px 20px 0 20px;
        .top-wrapper {
            display: flex;
            justify-content: space-between;
            .profile {
                display: flex;
                align-items: center;
                .profile-img {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 16px;
                }
                span {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
            .currentTime {
                span {
                    color: #999;
                }
            }
        }
        .bottom-wrapper {
            padding-bottom: 40px;
            border-bottom: 1px solid #e6e6e6;
            text-align: left;
            padding: 0 4px;
            .thread-contents {
                font-size: 20px;
                padding: 18px 0 20px 0;
                white-space: wrap;
                line-height: 1.2;
            }
            button {
                background-color: transparent;
                font-size: 16px;
                color: #999;
                margin-right: 12px;
            }
            .btn-like {
                margin: 20px 0;
                img {
                    object-fit: cover;
                }
            }
        }
    }
    .btn-bottom-fixed {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 20px 40px 20px;
        button {
            display: block;
            width: 120px;
            height: 56px;
            border-radius: 6px;
            background-color: #2d71f7;
            color: #fff;
            font-size: 18px;
        }
    }
}
.comment-input-wrapper {
    display: none;
    &.on {
        display: block;
    }
    .comment-input {
        padding: 40px 20px 0 20px;
        display: flex;
        justify-content: space-between;
        input {
            height: 50px;
            margin-right: 8px;
        }
        button {
            width: 96px;
            height: 50px;
            border: 1px solid #999;
            border-radius: 6px;
            background-color: transparent;
        }
    }
}
.comment-wrapper {
    padding: 40px 20px;
    .user-comment-list {
        position: relative;
        .comment-profile {
            display: flex;
            align-items: center;
            .comment-profile-img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 12px;
                display: block;
            }
            .comment-user-name {
                display: block;
                font-weight: bold;
            }
            .contents {
                padding: 8px 0;
            }
            .comment-date {
                position: absolute;
                right: 0;
                color: #999;
            }
        }
    }
}
